################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Clinic/.vs
/Clinic/.vs/Clinic
bin/Debug/net8.0/
obj/Debug/net8.0/
/Clinic/appsettings.Development.json
