@page
@model Clinic.Areas.Identity.Pages.Account.LoginModel
@{
}
<h2>@ViewData["Title"]</h2>
<div class="form-container custom-form login-card">
    <form class="login-form" method="post" asp-antiforgery="true">
        @Html.AntiForgeryToken()
        <h3 class="mb-5 text-center">Prijava</h3>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="pb-3">
            <label asp-for="Credentials.Username" class="control-label">Korisničko ime</label>
            <input asp-for="Credentials.Username" name="Credentials.Username" class="form-control" />
            <span asp-validation-for="Credentials.Username" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Credentials.Password" class="control-label">Lozinka</label>
            <input asp-for="Credentials.Password" name="Credentials.Password" type="password" class="form-control" />
            <span asp-validation-for="Credentials.Password" class="text-danger"></span>
        </div>

        <div class="login-div-button">
            <input style="width:8rem;" type="submit" class="primary-button" value="Login" />
        </div>
    </form>
</div>

