@page "{patientId?}"
@model Clinic.Pages.AddPatientModel
@{
}
<h1>@Model.PageTitle</h1>
<form method="post">
    <div class="form-group">
        <label for="FirstName" class="control-label">Ime</label>
        <input asp-for="Patient.FirstName" name="Patient.FirstName" class="form-control" />
        <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="LastName" class="control-label">Prezime</label>
        <input asp-for="Patient.LastName" name="Patient.LastName" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="JMBG" class="control-label">JMBG</label>
        <input asp-for="Patient.JMBG" name="Patient.JMBG" class="form-control" maxlength="13" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DateOfBirth" class="control-label">Datum rođenja</label>
        <input asp-for="Patient.DateOfBirth" name="Patient.DateOfBirth" type="date" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" for="Gender">Pol</label>
        <select asp-for="Patient.GenderId" class="form-control" asp-items="Model.Genders">
            <option value="">Izaberite pol</option>
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Address" class="control-label">Adresa</label>
        <input asp-for="Patient.Address" name="Patient.Address" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PhoneNumber" class="control-label">Broj telefona</label>
        <input asp-for="Patient.PhoneNumber" name="Patient.PhoneNumber" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@Model.ButtonText</button>
</form>
